  /* General Styles */
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-family: Georgia;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}


/* Typography */
h1 {
  color: rgb(112, 59, 159);
}

h2 {
  color: rgb(35, 98, 169);
}

p {
  min-width: 200px;
  min-height: 200px;
}

/* Layout */
header {
  background-image: url('../afhbanner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
  background-color: #9cc5df;
  border-bottom: 3px solid #844695;
  font-weight: 500;
  text-align: center;
}

nav {
  text-align: center;
  width: 100%;
  z-index: 2;
  padding: 1%;
}

nav li {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  background-color: #afe5f1;
  border-radius: 5px;
  font-size: 1.5rem;
}

nav li:hover {
  background-color: #9d70a9;
}
.main {
  display: block;
  background-color: rgb(243, 247, 251);
  margin: 1% 10%;
  padding-top: 1%;
}
.content {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  font-size: 1.5rem;
  opacity: 0.75;
}

.content img {
  max-width: 20%;
  margin-right: 30px;
}
.content p {
  flex: 1;
}
.tiles{
  width: 500px;
  height: 500px;
  background-color: #844695;
  border-color: #370944;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
.item {
  width: 100px;
  height: 100px;
  background-color: #9cc5df;
  border: 3px solid rgb(51, 223, 239);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content li {
  margin-bottom: 10px;
  position: relative; /* Position the list item */
}
.content li::before {
  content: "\f005"; /* Unicode character for a solid star */
  font-family: "Font Awesome 6 Free"; /* Replace with your font family */
  font-weight: 900;
  font-size: 1em;
  color: #d664e7; /* Adjust the color as needed */
  margin-right: 10px;
}
.contact {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0px auto;
  opacity: 0.75;
  justify-content: space-between;
  padding-bottom: 2%;
}
.contact a:hover {
  color:#844695;
}

footer {
  text-align: center;
  padding: 1rem 0;
}